.heading_style {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
  background-color: #fff;
  padding: 20px 0;
}
.slot_inner{
  padding: 10px 0;
}
.slotmachine{
  border: 2px solid rgb(39, 223, 100);
  border-radius: 8px;
  width: 500px;
  height: 400px;
  margin: 10px auto;
}

